In [39]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
import pandas as pd
import json
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies = pd.read_csv('data\movies_metadata.csv', low_memory=False) # movies_metadataÍ≤ΩÎ°ú
movies.head(10) # Îç∞Ïù¥ÌÑ∞ Íµ¨ÏÑ± ÎØ∏Î¶¨Î≥¥Í∏∞

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

In [3]:
# movie Î™©Î°ùÏùÑ 25000Í∞úÎ°ú Ï§ÑÏó¨ÏÑú Ïû¨Ï†ïÏùò
# testÎäî ÏûëÍ≤å -> ÏôÑÏÑ±ÌõÑ Í≥†ÏπòÍ∏∞
moviemeta = movies.head(25000)

In [4]:
# movie Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÌôïÏù∏
moviemeta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
# Ï†ÑÏ≤òÎ¶¨ 
# overviewÏùò Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ìï≠Î™©ÏùÄ Î™®Îëê Ï†úÍ±∞ 
moviemeta = moviemeta[moviemeta['overview'].notnull()].reset_index(drop=True)

moviemeta.shape

(24791, 24)

In [6]:
# ÏÇ¨Ïö©ÏûêÏóêÏÑú ÏûÖÎ†•ÏùÑ Î∞õÏùÑ Îïå ÏòÅÏñ¥Í∞Ä ÏïÑÎãå ÏòÅÌôîÎ•º Ï†úÏô∏ÏãúÏºú Ïò§Î•òÎ•º Î∞©ÏßÄÌïòÍ∏∞ ÏúÑÌï¥
# ÏõêÏñ¥Í∞Ä ÏòÅÏñ¥Ïù∏ ÏòÅÌôîÎßå Í≥®ÎùºÎÇ¥Í∏∞

moviemeta = moviemeta[moviemeta['original_language'] == 'en']

In [7]:
# ÏòÅÏñ¥ Ïú†ÏùòÎØ∏ÌïòÏßÄ ÏïäÏùÄ Îã®Ïñ¥ ÌÜ†ÌÅ∞ÏùÑ Ï†úÍ±∞ (Î∂àÏö©Ïñ¥ Ï†úÍ±∞)
tfidf = TfidfVectorizer(stop_words='english', max_features=50000) #Î©îÎ™®Î¶¨ Í≥ºÏö© Î∞©ÏßÄ

# overview(Ï§ÑÍ±∞Î¶¨)Ïóê ÎåÄÌï¥ÏÑú tf-idf ÏàòÌñâ
m_tfidf_matrix = tfidf.fit_transform(moviemeta['overview'])
print(m_tfidf_matrix.shape) # ÏòÅÌôî ÏàòÏôÄ overview Í∏ÄÏûê ÌôïÏù∏Ïö©

(19209, 43362)

In [8]:
# ifidfÎ•º ÌÜµÌï¥ Ï∂îÏ∂úÌïú Îã®Ïñ¥ ÌñâÎ†¨ÏùÑ Í∞ÄÏßÄÍ≥† cosÏú†ÏÇ¨ÎèÑÎ•º Íµ¨Ìï®

# ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑ Ìï®Ïàò Í≥ÑÏÇ∞ Î∞©Ïãù
#def cos_sim(A, B):
#    return dot(A, B)/(norm(A)*norm(B))

m_cosine_sim = cosine_similarity(m_tfidf_matrix, m_tfidf_matrix)

In [9]:
# ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑ Í≥ÑÏÇ∞Ïù¥ Ïã§ÌñâÎêêÎäîÏßÄ ÏÉòÌîå ÌôïÏù∏
np.round(m_cosine_sim, 7)

array([[1.       , 0.0167937, 0.       , ..., 0.03356  , 0.       ,
        0.       ],
       [0.0167937, 1.       , 0.0494804, ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.0494804, 1.       , ..., 0.       , 0.010437 ,
        0.       ],
       ...,
       [0.03356  , 0.       , 0.       , ..., 1.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.010437 , ..., 0.       , 1.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        1.       ]])

In [10]:
# movie titleÏôÄ idÎ•º Îß§ÌïëÌï† ÎîïÏÖîÎÑàÎ¶¨Î•º ÏÉùÏÑ± 
movie_id_dic = {}
for i, c in enumerate(movies['title']): movie_id_dic[i] = c

# idÏôÄ movie titleÎ•º Îß§ÌïëÌï† ÎîïÏÖîÎÑàÎ¶¨Î•º ÏÉùÏÑ± 
id_movie_dic = {}
for i, c in movie_id_dic.items(): id_movie_dic[c] = i

In [11]:
# movie titleÍ≥º idÍ∞Ä Îß§ÌïëÏù¥ ÎêêÎäîÏßÄ ÌôïÏù∏
movie_id_dic

{0: 'Toy Story',
 1: 'Jumanji',
 2: 'Grumpier Old Men',
 3: 'Waiting to Exhale',
 4: 'Father of the Bride Part II',
 5: 'Heat',
 6: 'Sabrina',
 7: 'Tom and Huck',
 8: 'Sudden Death',
 9: 'GoldenEye',
 10: 'The American President',
 11: 'Dracula: Dead and Loving It',
 12: 'Balto',
 13: 'Nixon',
 14: 'Cutthroat Island',
 15: 'Casino',
 16: 'Sense and Sensibility',
 17: 'Four Rooms',
 18: 'Ace Ventura: When Nature Calls',
 19: 'Money Train',
 20: 'Get Shorty',
 21: 'Copycat',
 22: 'Assassins',
 23: 'Powder',
 24: 'Leaving Las Vegas',
 25: 'Othello',
 26: 'Now and Then',
 27: 'Persuasion',
 28: 'The City of Lost Children',
 29: 'Shanghai Triad',
 30: 'Dangerous Minds',
 31: 'Twelve Monkeys',
 32: 'Wings of Courage',
 33: 'Babe',
 34: 'Carrington',
 35: 'Dead Man Walking',
 36: 'Across the Sea of Time',
 37: 'It Takes Two',
 38: 'Clueless',
 39: 'Cry, the Beloved Country',
 40: 'Richard III',
 41: 'Dead Presidents',
 42: 'Restoration',
 43: 'Mortal Kombat',
 44: 'To Die For',
 45: 'How To Make An American Quilt',
 46: 'Se7en',
 47: 'Pocahontas',
 48: 'When Night Is Falling',
 49: 'The Usual Suspects',
 50: 'Guardian Angel',
 51: 'Mighty Aphrodite',
 52: 'Lamerica',
 53: 'The Big Green',
 54: 'Georgia',
 55: 'Kids of the Round Table',
 56: 'Home for the Holidays',
 57: 'The Postman',
 58: 'The Confessional',
 59: 'The Indian in the Cupboard',
 60: 'Eye for an Eye',
 61: "Mr. Holland's Opus",
 62: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood",
 63: 'Two If by Sea',
 64: 'Bio-Dome',
 65: 'Lawnmower Man 2: Beyond Cyberspace',
 66: 'Two Bits',
 67: 'French Twist',
 68: 'Friday',
 69: 'From Dusk Till Dawn',
 70: 'Fair Game',
 71: 'Kicking and Screaming',
 72: 'Les Miserables',
 73: 'Bed of Roses',
 74: 'Big Bully',
 75: 'Screamers',
 76: 'Nico Icon',
 77: 'The Crossing Guard',
 78: 'The Juror',
 79: 'The White Balloon',
 80: "Things to Do in Denver When You're Dead",
 81: "Antonia's Line",
 82: 'Once Upon a Time... When We Were Colored',
 83: 'Last Summer in the Hamptons',
 84: 'Angels and Insects',
 85: 'White Squall',
 86: 'Dunston Checks In',
 87: 'Black Sheep',
 88: 'Nick of Time',
 89: 'The Journey of August King',
 90: 'Mary Reilly',
 91: 'Vampire in Brooklyn',
 92: 'Beautiful Girls',
 93: 'Broken Arrow',
 94: "A Midwinter's Tale",
 95: 'La Haine',
 96: 'Shopping',
 97: 'Heidi Fleiss: Hollywood Madam',
 98: 'City Hall',
 99: 'Bottle Rocket',
 100: 'Mr. Wrong',
 101: 'Unforgettable',
 102: 'Happy Gilmore',
 103: 'The Bridges of Madison County',
 104: 'Nobody Loves Me',
 105: 'Muppet Treasure Island',
 106: 'Catwalk',
 107: 'Headless Body in Topless Bar',
 108: 'Braveheart',
 109: 'Taxi Driver',
 110: 'Rumble in the Bronx',
 111: 'Before and After',
 112: "Margaret's Museum",
 113: 'Happiness Is in the Field',
 114: 'Anne Frank Remembered',
 115: "The Young Poisoner's Handbook",
 116: 'If Lucy Fell',
 117: 'Steal Big Steal Little',
 118: 'Race the Sun',
 119: 'The Boys of St. Vincent',
 120: 'Boomerang',
 121: 'Chungking Express',
 122: 'The Star Maker',
 123: 'Flirting with Disaster',
 124: 'The Neverending Story III: Escape from Fantasia',
 125: 'The Silences of the Palace',
 126: "Jupiter's Wife",
 127: 'Pie in the Sky',
 128: 'Angela',
 129: 'Frankie Starlight',
 130: 'Jade',
 131: 'Nueba Yol',
 132: 'Sonic Outlaws',
 133: 'Down Periscope',
 134: 'From the Journals of Jean Seberg',
 135: 'Man of the Year',
 136: 'The Neon Bible',
 137: 'Target',
 138: 'Up Close & Personal',
 139: 'The Birdcage',
 140: 'Virgin Mary',
 141: 'The Brothers McMullen',
 142: 'Bad Boys',
 143: 'The Amazing Panda Adventure',
 144: 'The Basketball Diaries',
 145: 'An Awfully Big Adventure',
 146: 'Amateur',
 147: 'Apollo 13',
 148: 'Rob Roy',
 149: 'The Addiction',
 150: 'Batman Forever',
 151: 'Belle de Jour',
 152: 'Beyond Rangoon',
 153: 'Blue in the Face',
 154: 'Canadian Bacon',
 155: 'Casper',
 156: 'Clockers',
 157: 'Congo',
 158: 'Crimson Tide',
 159: 'Crumb',
 160: 'Desperado',
 161: 'Devil in a Blue Dress',
 162: 'Die Hard: With a Vengeance',
 163: 'The Doom Generation',
 164: 'Feast of July',
 165: 'First Knight',
 166: 'Free Willy 2 - The Adventure Home',
 167: 'Hackers',
 168: 'Jeffrey',
 169: 'Johnny Mnemonic',
 170: 'Judge Dredd',
 171: 'Jury Duty',
 172: 'Kids',
 173: 'Living in Oblivion',
 174: 'Lord of Illusions',
 175: 'Love & Human Remains',
 176: 'Mad Love',
 177: 'Mallrats',
 178: 'Mighty Morphin Power Rangers: The Movie',
 179: 'Moonlight and Valentino',
 180: 'Mute Witness',
 181: 'Nadja',
 182: 'The Net',
 183: 'Nine Months',
 184: 'Party Girl',
 185: 'The Prophecy',
 186: 'Reckless',
 187: 'Safe',
 188: 'The Scarlet Letter',
 189: 'The Show',
 190: 'Showgirls',
 191: 'Smoke',
 192: 'Something to Talk About',
 193: 'Species',
 194: 'The Stars Fell on Henrietta',
 195: 'Strange Days',
 196: 'The Umbrellas of Cherbourg',
 197: 'The Tie That Binds',
 198: 'Three Wishes',
 199: 'Total Eclipse',
 200: 'To Wong Foo, Thanks for Everything! Julie Newmar',
 201: 'Under Siege 2: Dark Territory',
 202: 'Unstrung Heroes',
 203: 'Unzipped',
 204: 'A Walk in the Clouds',
 205: 'Waterworld',
 206: "White Man's Burden",
 207: 'Wild Bill',
 208: 'The Browning Version',
 209: 'Bushwhacked',
 210: 'Burnt by the Sun',
 211: 'Before the Rain',
 212: 'Before Sunrise',
 213: 'Billy Madison',
 214: 'The Babysitter',
 215: 'Boys on the Side',
 216: 'The Cure',
 217: 'Castle Freak',
 218: 'Circle of Friends',
 219: 'Clerks',
 220: 'Don Juan DeMarco',
 221: 'Disclosure',
 222: 'Dream Man',
 223: 'Drop Zone',
 224: 'Destiny Turns on the Radio',
 225: 'Death and the Maiden',
 226: 'Dolores Claiborne',
 227: 'Dumb and Dumber',
 228: 'Eat Drink Man Woman',
 229: 'Exotica',
 230: 'Exit to Eden',
 231: 'Ed Wood',
 232: 'French Kiss',
 233: 'Forget Paris',
 234: 'Far from Home: The Adventures of Yellow Dog',
 235: 'A Goofy Movie',
 236: 'Hideaway',
 237: 'Fluke',
 238: 'Farinelli',
 239: 'Gordy',
 240: 'Gumby: The Movie',
 241: 'The Glass Shield',
 242: 'Hoop Dreams',
 243: 'Heavenly Creatures',
 244: 'Houseguest',
 245: 'Immortal Beloved',
 246: 'Heavyweights',
 247: 'The Hunted',
 248: 'I.Q.',
 249: 'Interview with the Vampire',
 250: 'Jefferson in Paris',
 251: 'The Jerky Boys',
 252: 'Junior',
 253: 'Just Cause',
 254: "A Kid in King Arthur's Court",
 255: 'Kiss of Death',
 256: 'Star Wars',
 257: 'Little Women',
 258: 'A Little Princess',
 259: 'Ladybird Ladybird',
 260: "L'Enfer",
 261: 'Like Water for Chocolate',
 262: 'Legends of the Fall',
 263: 'Major Payne',
 264: 'Little Odessa',
 265: 'Mi Vida Loca',
 266: 'Love Affair',
 267: 'Losing Isaiah',
 268: 'The Madness of King George',
 269: "Mary Shelley's Frankenstein",
 270: 'Man of the House',
 271: 'Mixed Nuts',
 272: 'Milk Money',
 273: 'Miracle on 34th Street',
 274: 'Miami Rhapsody',
 275: 'My Family',
 276: 'Murder in the First',
 277: "Nobody's Fool",
 278: 'Nell',
 279: 'New Jersey Drive',
 280: 'New York Cop',
 281: 'Beyond Bedlam',
 282: 'Nemesis 2 - Nebula',
 283: 'Nina Takes a Lover',
 284: 'Natural Born Killers',
 285: 'Only You',
 286: 'Once Were Warriors',
 287: 'Poison Ivy II: Lily',
 288: 'Outbreak',
 289: 'Leon: The Professional',
 290: 'The Perez Family',
 291: "A Pyromaniac's Love Story",
 292: 'Pulp Fiction',
 293: 'Panther',
 294: 'Pushing Hands',
 295: 'Priest',
 296: 'Quiz Show',
 297: 'Picture Bride',
 298: 'Queen Margot',
 299: 'The Quick and the Dead',
 300: 'Roommates',
 301: 'Pr√™t-√†-Porter',
 302: 'Three Colors: Red',
 303: 'Three Colors: Blue',
 304: 'Three Colors: White',
 305: 'Red Firecracker, Green Firecracker',
 306: 'Rent-a-Kid',
 307: 'Relative Fear',
 308: 'Stuart Saves His Family',
 309: 'The Swan Princess',
 310: 'The Secret of Roan Inish',
 311: 'The Specialist',
 312: 'Stargate',
 313: 'The Santa Clause',
 314: 'The Shawshank Redemption',
 315: 'Shallow Grave',
 316: 'Suture',
 317: 'Strawberry and Chocolate',
 318: 'Swimming with Sharks',
 319: 'The Sum of Us',
 320: 'Senior Trip',
 321: 'To Live',
 322: 'Tank Girl',
 323: 'Tales from the Crypt: Demon Knight',
 324: 'Star Trek: Generations',
 325: 'Tales from the Hood',
 326: 'Tom & Viv',
 327: 'Village of the Damned',
 328: 'Tommy Boy',
 329: 'Vanya on 42nd Street',
 330: 'The Underneath',
 331: 'The Walking Dead',
 332: "What's Eating Gilbert Grape",
 333: 'Virtuosity',
 334: 'While You Were Sleeping',
 335: 'The War',
 336: 'Double Happiness',
 337: "Muriel's Wedding",
 338: 'The Baby-Sitters Club',
 339: 'Ace Ventura: Pet Detective',
 340: 'The Adventures of Priscilla, Queen of the Desert',
 341: 'Backbeat',
 342: 'Bitter Moon',
 343: 'Bullets Over Broadway',
 344: 'Clear and Present Danger',
 345: 'The Client',
 346: 'Corrina, Corrina',
 347: 'Crooklyn',
 348: 'The Crow',
 349: 'Cobb',
 350: 'The Flintstones',
 351: 'Forrest Gump',
 352: 'Four Weddings and a Funeral',
 353: 'Higher Learning',
 354: 'I Like It Like That',
 355: 'I Love Trouble',
 356: 'It Could Happen to You',
 357: 'The Jungle Book',
 358: 'The Wonderful, Horrible Life of Leni Riefenstahl',
 359: 'The Lion King',
 360: 'Little Buddha',
 361: 'New Nightmare',
 362: 'The Mask',
 363: 'Maverick',
 364: 'Mrs. Parker and the Vicious Circle',
 365: 'The Naked Gun 33‚Öì: The Final Insult',
 366: 'The Paper',
 367: 'Reality Bites',
 368: 'Red Rock West',
 369: 'Ri¬¢hie Ri¬¢h',
 370: 'Safe Passage',
 371: 'The River Wild',
 372: 'Speed',
 373: 'Speechless',
 374: 'Timecop',
 375: 'True Lies',
 376: 'When a Man Loves a Woman',
 377: 'Wolf',
 378: 'Wyatt Earp',
 379: 'Bad Company',
 380: 'A Man of No Importance',
 381: 'S.F.W.',
 382: 'A Low Down Dirty Shame',
 383: 'Boys Life: Three Stories of Love, Lust, and Liberation',
 384: 'Colonel Chabert',
 385: 'Faster, Pussycat! Kill! Kill!',
 386: "Jason's Lyric",
 387: 'The Secret Adventures of Tom Thumb',
 388: 'Street Fighter',
 389: 'Coldblooded',
 390: 'Desert Winds',
 391: 'Fall Time',
 392: 'The Fear',
 393: 'Frank and Ollie',
 394: 'Girl in the Cadillac',
 395: 'Homage',
 396: 'Mirage',
 397: 'Open Season',
 398: 'Dos Cr√≠menes',
 399: 'Brother Minister: The Assassination of Malcolm X',
 400: 'Highlander: The Final Dimension',
 401: 'Federal Hill',
 402: 'In the Mouth of Madness',
 403: '8 Seconds',
 404: 'Above the Rim',
 405: 'Addams Family Values',
 406: 'Martin Lawrence: You So Crazy',
 407: 'The Age of Innocence',
 408: 'Airheads',
 409: 'The Air Up There',
 410: 'Another Stakeout',
 411: 'Bad Girls',
 412: 'Barcelona',
 413: 'Being Human',
 414: 'The Beverly Hillbillies',
 415: 'Beverly Hills Cop III',
 416: 'Black Beauty',
 417: 'Blink',
 418: 'Blown Away',
 419: 'Blue Chips',
 420: 'Blue Sky',
 421: 'Body Snatchers',
 422: 'Boxing Helena',
 423: 'A Bronx Tale',
 424: 'Cabin Boy',
 425: 'Calendar Girl',
 426: "Carlito's Way",
 427: "City Slickers II: The Legend of Curly's Gold",
 428: 'Clean Slate',
 429: 'Cliffhanger',
 430: 'Coneheads',
 431: 'Color of Night',
 432: 'Cops & Robbersons',
 433: 'The Cowboy Way',
 434: 'Dangerous Game',
 435: 'Dave',
 436: 'Dazed and Confused',
 437: 'Demolition Man',
 438: 'The Endless Summer 2',
 439: 'Even Cowgirls Get the Blues',
 440: 'Fatal Instinct',
 441: 'Farewell My Concubine',
 442: 'The Favor',
 443: 'Fearless',
 444: 'Fear of a Black Hat',
 445: 'With Honors',
 446: 'Flesh and Bone',
 447: "Widows' Peak",
 448: 'For Love or Money',
 449: 'The Firm',
 450: 'Free Willy',
 451: 'Fresh',
 452: 'The Fugitive',
 453: 'Geronimo: An American Legend',
 454: 'The Getaway',
 455: 'Getting Even with Dad',
 456: 'Go Fish',
 457: 'A Good Man in Africa',
 458: 'Guilty as Sin',
 459: 'Hard Target',
 460: 'Heaven & Earth',
 461: 'Hot Shots! Part Deux',
 462: 'Live Nude Girls',
 463: 'The Englishman Who Went Up a Hill But Came Down a Mountain',
 464: 'The House of the Spirits',
 465: 'House Party 3',
 466: 'The Hudsucker Proxy',
 467: "I'll Do Anything",
 468: 'In the Army Now',
 469: 'In the Line of Fire',
 470: 'In the Name of the Father',
 471: 'The Inkwell',
 472: "What's Love Got to Do with It",
 473: 'Jimmy Hollywood',
 474: 'Judgment Night',
 475: 'Jurassic Park',
 476: 'Kalifornia',
 477: 'Killing Zoe',
 478: 'King of the Hill',
 479: 'Lassie',
 480: 'Last Action Hero',
 481: 'Life With Mikey',
 482: 'Lightning Jack',
 483: 'M. Butterfly',
 484: 'Made in America',
 485: 'Malice',
 486: 'The Man without a Face',
 487: 'Manhattan Murder Mystery',
 488: 'Menace II Society',
 489: 'Executive Decision',
 490: 'In the Realm of the Senses',
 491: 'What Happened Was...',
 492: 'Much Ado About Nothing',
 493: 'Mr. Jones',
 494: 'Mr. Wonderful',
 495: 'Mrs. Doubtfire',
 496: 'Naked',
 497: 'The Next Karate Kid',
 498: 'The New Age',
 499: 'No Escape',
 500: 'North',
 501: 'Orlando',
 502: 'A Perfect World',
 503: 'Philadelphia',
 504: 'The Piano',
 505: 'Poetic Justice',
 506: 'The Program',
 507: 'The Puppet Masters',
 508: 'Radioland Murders',
 509: 'The Ref',
 510: 'The Remains of the Day',
 511: 'Renaissance Man',
 512: 'Rising Sun',
 513: 'The Road to Wellville',
 514: 'RoboCop 3',
 515: 'Robin Hood: Men in Tights',
 516: 'Romeo Is Bleeding',
 517: 'Romper Stomper',
 518: 'Ruby in Paradise',
 519: 'Rudy',
 520: 'The Saint of Fort Washington',
 521: 'Savage Nights',
 522: "Schindler's List",
 523: 'The Scout',
 524: 'Searching for Bobby Fischer',
 525: 'Second Best',
 526: 'The Secret Garden',
 527: 'Serial Mom',
 528: 'The Shadow',
 529: 'Shadowlands',
 530: 'Short Cuts',
 531: 'A Simple Twist of Fate',
 532: 'Sirens',
 533: 'Six Degrees of Separation',
 534: 'Sleepless in Seattle',
 535: 'Sliver',
 536: 'Blade Runner',
 537: 'Son in Law',
 538: 'So I Married an Axe Murderer',
 539: 'Striking Distance',
 540: 'Harem',
 541: 'Super Mario Bros.',
 542: 'Surviving the Game',
 543: 'Terminal Velocity',
 544: 'Thirty Two Short Films About Glenn Gould',
 545: 'Threesome',
 546: 'The Nightmare Before Christmas',
 547: 'The Three Musketeers',
 548: 'Tombstone',
 549: 'Trial by Jury',
 550: 'True Romance',
 551: 'The War Room',
 552: 'The Pagemaster',
 553: 'Paris, France',
 554: 'The Beans of Egypt, Maine',
 555: 'Killer',
 556: 'Welcome to the Dollhouse',
 557: 'Germinal',
 558: 'Chasers',
 559: 'Cronos',
 560: 'Naked in New York',
 561: 'Kika',
 562: 'Bhaji on the Beach',
 563: 'Little Big League',
 564: 'The Slingshot',
 565: 'Wide Eyed and Legless',
 566: 'Foreign Student',
 567: 'Ciao, Professore!',
 568: 'Spanking the Monkey',
 569: 'The Little Rascals',
 570: '√Ä la mode',
 571: 'Andre',
 572: 'The Escort',
 573: 'Princess Caraboo',
 574: 'The Celluloid Closet',
 575: 'Caf√© au Lait',
 576: 'Dear Diary',
 577: "I Don't Want to Talk About It",
 578: 'The Brady Bunch Movie',
 579: 'Home Alone',
 580: 'Ghost',
 581: 'Aladdin',
 582: 'Terminator 2: Judgment Day',
 583: 'Dances with Wolves',
 584: 'Tough and Deadly',
 585: 'Batman',
 586: 'The Silence of the Lambs',
 587: 'Snow White and the Seven Dwarfs',
 588: 'Beauty and the Beast',
 589: 'Pinocchio',
 590: 'Pretty Woman',
 591: 'Window to Paris',
 592: 'The Wild Bunch',
 593: 'Love and a .45',
 594: "The Wooden Man's Bride",
 595: 'A Great Day in Harlem',
 596: 'Bye Bye Love',
 597: 'One Fine Day',
 598: 'Candyman: Farewell to the Flesh',
 599: 'Century',
 600: 'Fargo',
 601: 'Homeward Bound II: Lost in San Francisco',
 602: 'Heavy Metal',
 603: 'Hellraiser: Bloodline',
 604: 'The Pallbearer',
 605: 'Jane Eyre',
 606: 'Loaded',
 607: 'Bread and Chocolate',
 608: 'The Aristocats',
 609: 'The Flower of My Secret',
 610: 'Two Much',
 611: 'Ed',
 612: 'Scream of Stone',
 613: 'My Favorite Season',
 614: 'A Modern Affair',
 615: 'Condition Red',
 616: 'Halfaouine: Boy of the Terraces',
 617: 'A Thin Line Between Love and Hate',
 618: 'The Last Supper',
 619: 'Primal Fear',
 620: 'Rude',
 621: 'Carried Away',
 622: 'All Dogs Go to Heaven 2',
 623: 'Land and Freedom',
 624: 'Denise Calls Up',
 625: 'Theodore Rex',
 626: 'A Family Thing',
 627: 'Frisk',
 628: 'Sgt. Bilko',
 629: 'Jack & Sarah',
 630: 'Girl 6',
 631: 'Diabolique',
 632: 'Little Indian, Big City',
 633: 'Roula',
 634: 'Peanuts ‚Äì Die Bank zahlt alles',
 635: 'Happy Weekend',
 636: 'Nelly and Monsieur Arnaud',
 637: 'Courage Under Fire',
 638: 'Mission: Impossible',
 639: 'Cold Fever',
 640: 'Moll Flanders',
 641: 'The Superwife',
 642: '301, 302',
 643: 'DragonHeart',
 644: 'Und keiner weint mir nach',
 645: "My Mother's Courage",
 646: 'Eddie',
 647: 'Yankee Zulu',
 648: "Billy's Holiday",
 649: 'Purple Noon',
 650: 'August',
 651: 'James and the Giant Peach',
 652: 'Fear',
 653: 'Kids in the Hall: Brain Candy',
 654: 'Faithful',
 655: 'Underground',
 656: 'All Things Fair',
 657: 'Bloodsport II',
 658: 'Pather Panchali',
 659: 'The World of Apu',
 660: 'Mystery Science Theater 3000: The Movie',
 661: 'Tarantella',
 662: 'Space Jam',
 663: 'Barbarella',
 664: 'Hostile Intentions',
 665: 'They Bite',
 666: 'Some Folks Call It a Sling Blade',
 667: 'The Run of the Country',
 668: 'Alphaville',
 669: 'Coup de Torchon',
 670: 'Tigrero: A Film That Was Never Made',
 671: 'The Eye of Vichy',
 672: 'Windows',
 673: "It's My Party",
 674: 'Country Life',
 675: 'Operation Dumbo Drop',
 676: 'The Promise',
 677: 'Mrs. Winterbourne',
 678: 'Solo',
 679: 'Under The Domim Tree',
 680: 'The Substitute',
 681: 'True Crime',
 682: 'Butterfly Kiss',
 683: 'Feeling Minnesota',
 684: 'Delta of Venus',
 685: 'To Cross the Rubicon',
 686: 'Angus',
 687: 'Priest Daens',
 688: 'Faces',
 689: 'Boys',
 690: 'The Quest',
 691: 'Cosi',
 692: 'Sunset Park',
 693: 'Mulholland Falls',
 694: 'The Truth About Cats & Dogs',
 695: 'Oliver & Company',
 696: 'Celtic Pride',
 697: 'Flipper',
 698: 'Captives',
 699: 'Of Love and Shadows',
 700: 'Dead Man',
 701: 'The Horseman on the Roof',
 702: 'Switchblade Sisters',
 703: 'Mouth to Mouth',
 704: 'The Visitors',
 705: 'Multiplicity',
 706: 'The Haunted World of Edward D. Wood, Jr.',
 707: 'Two Friends',
 708: 'The Craft',
 709: 'The Great White Hype',
 710: 'Last Dance',
 711: 'War Stories Our Mother Never Told Us',
 712: 'Cold Comfort Farm',
 713: 'Institute Benjamenta, or This Dream People Call Human Life',
 714: "Heaven's Prisoners",
 715: 'Original Gangstas',
 716: 'The Rock',
 717: 'Getting Away with Murder',
 718: 'Cemetery Man',
 719: 'Twister',
 720: 'Barb Wire',
 721: 'Le Gar√ßu',
 722: 'Honeymoon',
 723: 'Ghost in the Shell',
 724: 'Thinner',
 725: 'Spy Hard',
 726: 'Brothers in Trouble',
 727: 'A Close Shave',
 728: 'Force of Evil',
 729: 'The Stupids',
 730: 'The Arrival',
 731: 'The Man from Down Under',
 732: 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 733: 'Careful',
 734: 'Vermont Is for Lovers',
 735: 'A Month by the Lake',
 736: 'Gold Diggers: The Secret of Bear Mountain',
 737: 'Kim',
 738: 'Carmen Miranda: Bananas Is My Business',
 739: 'Ashes of Time',
 740: 'The Jar',
 741: 'Maya Lin: A Strong Clear Vision',
 742: 'Stalingrad',
 743: 'The Phantom',
 744: 'Striptease',
 745: 'The Last of the High Kings',
 746: 'Heavy',
 747: 'Jack',
 748: 'I Shot Andy Warhol',
 749: 'The Grass Harp',
 750: "Someone Else's America",
 751: 'Life is Rosy',
 752: 'Quartier Mozart',
 753: 'Touki Bouki',
 754: "God's Gift",
 755: 'Spirits of the Dead',
 756: 'Babyfever',
 757: "Pharaoh's  Army",
 758: 'Trainspotting',
 759: 'Til There Was You',
 760: 'Independence Day',
 761: 'Stealing Beauty',
 762: 'The Fan',
 763: 'The Hunchback of Notre Dame',
 764: 'The Cable Guy',
 765: 'Kingpin',
 766: 'Eraser',
 767: 'The Gate of Heavenly Peace',
 768: 'The Nutty Professor',
 769: 'I, the Worst of All',
 770: 'An Unforgettable Summer',
 771: 'A Hungarian Fairy Tale',
 772: 'My Life and Times With Antonin Artaud',
 773: 'Midnight Dancers',
 774: 'Somebody to Love',
 775: 'A Very Natural Thing',
 776: 'The Old Lady Who Walked in the Sea',
 777: 'Daylight',
 778: 'The Frighteners',
 779: 'Lone Star',
 780: 'Harriet the Spy',
 781: 'Phenomenon',
 782: 'Walking and Talking',
 783: "She's the One",
 784: 'A Time to Kill',
 785: 'American Buffalo',
 786: 'Rendezvous in Paris',
 787: 'Alaska',
 788: 'Fled',
 789: 'Kazaam',
 790: 'Magic Hunter',
 791: 'Larger Than Life',

In [12]:
# movie titleÍ≥º idÍ∞Ä Îß§ÌïëÏù¥ ÎêêÎäîÏßÄ ÌôïÏù∏
id_movie_dic

{'Toy Story': 0,
 'Jumanji': 1,
 'Grumpier Old Men': 2,
 'Waiting to Exhale': 3,
 'Father of the Bride Part II': 4,
 'Heat': 29042,
 'Sabrina': 888,
 'Tom and Huck': 7,
 'Sudden Death': 8,
 'GoldenEye': 9,
 'The American President': 10,
 'Dracula: Dead and Loving It': 11,
 'Balto': 12,
 'Nixon': 13,
 'Cutthroat Island': 14,
 'Casino': 15,
 'Sense and Sensibility': 41042,
 'Four Rooms': 17,
 'Ace Ventura: When Nature Calls': 18,
 'Money Train': 19,
 'Get Shorty': 20,
 'Copycat': 21,
 'Assassins': 22,
 'Powder': 23,
 'Leaving Las Vegas': 24,
 'Othello': 21274,
 'Now and Then': 26,
 'Persuasion': 40837,
 'The City of Lost Children': 28,
 'Shanghai Triad': 29,
 'Dangerous Minds': 30,
 'Twelve Monkeys': 31,
 'Wings of Courage': 32,
 'Babe': 33,
 'Carrington': 34,
 'Dead Man Walking': 35,
 'Across the Sea of Time': 36,
 'It Takes Two': 29129,
 'Clueless': 38,
 'Cry, the Beloved Country': 26667,
 'Richard III': 17719,
 'Dead Presidents': 41,
 'Restoration': 38571,
 'Mortal Kombat': 43,
 'To Die For': 44,
 'How To Make An American Quilt': 45,
 'Se7en': 46,
 'Pocahontas': 47,
 'When Night Is Falling': 48,
 'The Usual Suspects': 49,
 'Guardian Angel': 50,
 'Mighty Aphrodite': 51,
 'Lamerica': 38204,
 'The Big Green': 53,
 'Georgia': 54,
 'Kids of the Round Table': 55,
 'Home for the Holidays': 33568,
 'The Postman': 1644,
 'The Confessional': 58,
 'The Indian in the Cupboard': 59,
 'Eye for an Eye': 25757,
 "Mr. Holland's Opus": 61,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 62,
 'Two If by Sea': 63,
 'Bio-Dome': 64,
 'Lawnmower Man 2: Beyond Cyberspace': 65,
 'Two Bits': 66,
 'French Twist': 67,
 'Friday': 39550,
 'From Dusk Till Dawn': 69,
 'Fair Game': 39403,
 'Kicking and Screaming': 71,
 'Les Miserables': 20157,
 'Bed of Roses': 19880,
 'Big Bully': 74,
 'Screamers': 41220,
 'Nico Icon': 76,
 'The Crossing Guard': 77,
 'The Juror': 78,
 'The White Balloon': 79,
 "Things to Do in Denver When You're Dead": 80,
 "Antonia's Line": 81,
 'Once Upon a Time... When We Were Colored': 82,
 'Last Summer in the Hamptons': 83,
 'Angels and Insects': 84,
 'White Squall': 85,
 'Dunston Checks In': 86,
 'Black Sheep': 16328,
 'Nick of Time': 88,
 'The Journey of August King': 89,
 'Mary Reilly': 90,
 'Vampire in Brooklyn': 91,
 'Beautiful Girls': 92,
 'Broken Arrow': 11937,
 "A Midwinter's Tale": 94,
 'La Haine': 95,
 'Shopping': 96,
 'Heidi Fleiss: Hollywood Madam': 97,
 'City Hall': 98,
 'Bottle Rocket': 99,
 'Mr. Wrong': 100,
 'Unforgettable': 43232,
 'Happy Gilmore': 102,
 'The Bridges of Madison County': 103,
 'Nobody Loves Me': 104,
 'Muppet Treasure Island': 105,
 'Catwalk': 106,
 'Headless Body in Topless Bar': 107,
 'Braveheart': 108,
 'Taxi Driver': 109,
 'Rumble in the Bronx': 110,
 'Before and After': 111,
 "Margaret's Museum": 112,
 'Happiness Is in the Field': 113,
 'Anne Frank Remembered': 114,
 "The Young Poisoner's Handbook": 115,
 'If Lucy Fell': 116,
 'Steal Big Steal Little': 117,
 'Race the Sun': 118,
 'The Boys of St. Vincent': 119,
 'Boomerang': 120,
 'Chungking Express': 121,
 'The Star Maker': 122,
 'Flirting with Disaster': 123,
 'The Neverending Story III: Escape from Fantasia': 124,
 'The Silences of the Palace': 125,
 "Jupiter's Wife": 126,
 'Pie in the Sky': 36585,
 'Angela': 128,
 'Frankie Starlight': 129,
 'Jade': 130,
 'Nueba Yol': 131,
 'Sonic Outlaws': 132,
 'Down Periscope': 133,
 'From the Journals of Jean Seberg': 134,
 'Man of the Year': 11330,
 'The Neon Bible': 136,
 'Target': 24130,
 'Up Close & Personal': 138,
 'The Birdcage': 139,
 'Virgin Mary': 140,
 'The Brothers McMullen': 141,
 'Bad Boys': 29494,
 'The Amazing Panda Adventure': 143,
 'The Basketball Diaries': 144,
 'An Awfully Big Adventure': 145,
 'Amateur': 146,
 'Apollo 13': 147,
 'Rob Roy': 148,
 'The Addiction': 149,
 'Batman Forever': 150,
 'Belle de Jour': 151,
 'Beyond Rangoon': 152,
 'Blue in the Face': 153,
 'Canadian Bacon': 154,
 'Casper': 155,
 'Clockers': 156,
 'Congo': 157,
 'Crimson Tide': 158,
 'Crumb': 159,
 'Desperado': 160,
 'Devil in a Blue Dress': 161,
 'Die Hard: With a Vengeance': 162,
 'The Doom Generation': 163,
 'Feast of July': 164,
 'First Knight': 165,
 'Free Willy 2 - The Adventure Home': 166,
 'Hackers': 167,
 'Jeffrey': 168,
 'Johnny Mnemonic': 169,
 'Judge Dredd': 170,
 'Jury Duty': 171,
 'Kids': 172,
 'Living in Oblivion': 173,
 'Lord of Illusions': 174,
 'Love & Human Remains': 175,
 'Mad Love': 39082,
 'Mallrats': 177,
 'Mighty Morphin Power Rangers: The Movie': 178,
 'Moonlight and Valentino': 179,
 'Mute Witness': 180,
 'Nadja': 181,
 'The Net': 38116,
 'Nine Months': 183,
 'Party Girl': 27977,
 'The Prophecy': 185,
 'Reckless': 14294,
 'Safe': 18906,
 'The Scarlet Letter': 22061,
 'The Show': 31868,
 'Showgirls': 190,
 'Smoke': 191,
 'Something to Talk About': 192,
 'Species': 193,
 'The Stars Fell on Henrietta': 194,
 'Strange Days': 195,
 'The Umbrellas of Cherbourg': 196,
 'The Tie That Binds': 197,
 'Three Wishes': 198,
 'Total Eclipse': 199,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 200,
 'Under Siege 2: Dark Territory': 201,
 'Unstrung Heroes': 202,
 'Unzipped': 203,
 'A Walk in the Clouds': 204,
 'Waterworld': 205,
 "White Man's Burden": 206,
 'Wild Bill': 19205,
 'The Browning Version': 10251,
 'Bushwhacked': 209,
 'Burnt by the Sun': 210,
 'Before the Rain': 211,
 'Before Sunrise': 212,
 'Billy Madison': 213,
 'The Babysitter': 214,
 'Boys on the Side': 215,
 'The Cure': 18680,
 'Castle Freak': 217,
 'Circle of Friends': 218,
 'Clerks': 219,
 'Don Juan DeMarco': 220,
 'Disclosure': 221,
 'Dream Man': 222,
 'Drop Zone': 223,
 'Destiny Turns on the Radio': 224,
 'Death and the Maiden': 225,
 'Dolores Claiborne': 226,
 'Dumb and Dumber': 227,
 'Eat Drink Man Woman': 228,
 'Exotica': 229,
 'Exit to Eden': 230,
 'Ed Wood': 231,
 'French Kiss': 232,
 'Forget Paris': 233,
 'Far from Home: The Adventures of Yellow Dog': 234,
 'A Goofy Movie': 235,
 'Hideaway': 236,
 'Fluke': 36039,
 'Farinelli': 238,
 'Gordy': 239,
 'Gumby: The Movie': 240,
 'The Glass Shield': 241,
 'Hoop Dreams': 242,
 'Heavenly Creatures': 243,
 'Houseguest': 244,
 'Immortal Beloved': 245,
 'Heavyweights': 24165,
 'The Hunted': 6081,
 'I.Q.': 248,
 'Interview with the Vampire': 249,
 'Jefferson in Paris': 250,
 'The Jerky Boys': 251,
 'Junior': 42989,
 'Just Cause': 253,
 "A Kid in King Arthur's Court": 254,
 'Kiss of Death': 10602,
 'Star Wars': 256,
 'Little Women': 6902,
 'A Little Princess': 44736,
 'Ladybird Ladybird': 259,
 "L'Enfer": 260,
 'Like Water for Chocolate': 261,
 'Legends of the Fall': 262,
 'Major Payne': 263,
 'Little Odessa': 264,
 'Mi Vida Loca': 265,
 'Love Affair': 6688,
 'Losing Isaiah': 267,
 'The Madness of King George': 268,
 "Mary Shelley's Frankenstein": 269,
 'Man of the House': 9731,
 'Mixed Nuts': 271,
 'Milk Money': 272,
 'Miracle on 34th Street': 2285,
 'Miami Rhapsody': 274,
 'My Family': 275,
 'Murder in the First': 276,
 "Nobody's Fool": 8889,
 'Nell': 278,
 'New Jersey Drive': 279,
 'New York Cop': 280,
 'Beyond Bedlam': 281,
 'Nemesis 2 - Nebula': 282,
 'Nina Takes a Lover': 283,
 'Natural Born Killers': 284,
 'Only You': 285,
 'Once Were Warriors': 286,
 'Poison Ivy II: Lily': 287,
 'Outbreak': 288,
 'Leon: The Professional': 289,
 'The Perez Family': 290,
 "A Pyromaniac's Love Story": 291,
 'Pulp Fiction': 292,
 'Panther': 293,
 'Pushing Hands': 294,
 'Priest': 17108,
 'Quiz Show': 296,
 'Picture Bride': 297,
 'Queen Margot': 298,
 'The Quick and the Dead': 13489,
 'Roommates': 300,
 'Pr√™t-√†-Porter': 301,
 'Three Colors: Red': 302,
 'Three Colors: Blue': 303,
 'Three Colors: White': 304,
 'Red Firecracker, Green Firecracker': 305,
 'Rent-a-Kid': 306,
 'Relative Fear': 307,
 'Stuart Saves His Family': 308,
 'The Swan Princess': 309,
 'The Secret of Roan Inish': 310,
 'The Specialist': 311,
 'Stargate': 312,
 'The Santa Clause': 313,
 'The Shawshank Redemption': 314,
 'Shallow Grave': 315,
 'Suture': 316,
 'Strawberry and Chocolate': 317,
 'Swimming with Sharks': 318,
 'The Sum of Us': 319,
 'Senior Trip': 320,
 'To Live': 321,
 'Tank Girl': 322,
 'Tales from the Crypt: Demon Knight': 323,
 'Star Trek: Generations': 324,
 'Tales from the Hood': 325,
 'Tom & Viv': 326,
 'Village of the Damned': 2440,
 'Tommy Boy': 328,
 'Vanya on 42nd Street': 329,
 'The Underneath': 26453,
 'The Walking Dead': 7659,
 "What's Eating Gilbert Grape": 332,
 'Virtuosity': 333,
 'While You Were Sleeping': 334,
 'The War': 19158,
 'Double Happiness': 336,
 "Muriel's Wedding": 337,
 'The Baby-Sitters Club': 338,
 'Ace Ventura: Pet Detective': 339,
 'The Adventures of Priscilla, Queen of the Desert': 340,
 'Backbeat': 341,
 'Bitter Moon': 342,
 'Bullets Over Broadway': 343,
 'Clear and Present Danger': 344,
 'The Client': 33775,
 'Corrina, Corrina': 346,
 'Crooklyn': 347,
 'The Crow': 348,
 'Cobb': 349,
 'The Flintstones': 350,
 'Forrest Gump': 351,
 'Four Weddings and a Funeral': 352,
 'Higher Learning': 353,
 'I Like It Like That': 354,
 'I Love Trouble': 26946,
 'It Could Happen to You': 356,
 'The Jungle Book': 31390,
 'The Wonderful, Horrible Life of Leni Riefenstahl': 358,
 'The Lion King': 359,
 'Little Buddha': 360,
 'New Nightmare': 361,
 'The Mask': 37958,
 'Maverick': 363,
 'Mrs. Parker and the Vicious Circle': 364,
 'The Naked Gun 33‚Öì: The Final Insult': 365,
 'The Paper': 366,
 'Reality Bites': 367,
 'Red Rock West': 368,
 'Ri¬¢hie Ri¬¢h': 369,
 'Safe Passage': 370,
 'The River Wild': 371,
 'Speed': 372,
 'Speechless': 373,
 'Timecop': 374,
 'True Lies': 375,
 'When a Man Loves a Woman': 376,
 'Wolf': 34950,
 'Wyatt Earp': 378,
 'Bad Company': 5292,
 'A Man of No Importance': 380,
 'S.F.W.': 381,
 'A Low Down Dirty Shame': 382,
 'Boys Life: Three Stories of Love, Lust, and Liberation': 383,
 'Colonel Chabert': 384,
 'Faster, Pussycat! Kill! Kill!': 385,
 "Jason's Lyric": 386,
 'The Secret Adventures of Tom Thumb': 387,
 'Street Fighter': 388,
 'Coldblooded': 389,
 'Desert Winds': 390,
 'Fall Time': 391,
 'The Fear': 392,
 'Frank and Ollie': 393,
 'Girl in the Cadillac': 394,
 'Homage': 395,
 'Mirage': 45127,
 'Open Season': 11311,
 'Dos Cr√≠menes': 398,
 'Brother Minister: The Assassination of Malcolm X': 399,
 'Highlander: The Final Dimension': 400,
 'Federal Hill': 401,
 'In the Mouth of Madness': 402,
 '8 Seconds': 403,
 'Above the Rim': 404,
 'Addams Family Values': 405,
 'Martin Lawrence: You So Crazy': 406,
 'The Age of Innocence': 19762,
 'Airheads': 408,
 'The Air Up There': 409,
 'Another Stakeout': 410,
 'Bad Girls': 21214,
 'Barcelona': 412,
 'Being Human': 413,
 'The Beverly Hillbillies': 414,
 'Beverly Hills Cop III': 415,
 'Black Beauty': 8202,
 'Blink': 417,
 'Blown Away': 18154,
 'Blue Chips': 419,
 'Blue Sky': 420,
 'Body Snatchers': 421,
 'Boxing Helena': 422,
 'A Bronx Tale': 423,
 'Cabin Boy': 424,
 'Calendar Girl': 425,
 "Carlito's Way": 426,
 "City Slickers II: The Legend of Curly's Gold": 427,
 'Clean Slate': 428,
 'Cliffhanger': 429,
 'Coneheads': 430,
 'Color of Night': 431,
 'Cops & Robbersons': 432,
 'The Cowboy Way': 433,
 'Dangerous Game': 434,
 'Dave': 435,
 'Dazed and Confused': 436,
 'Demolition Man': 437,
 'The Endless Summer 2': 438,
 'Even Cowgirls Get the Blues': 439,
 'Fatal Instinct': 440,
 'Farewell My Concubine': 441,
 'The Favor': 442,
 'Fearless': 11051,
 'Fear of a Black Hat': 444,
 'With Honors': 445,
 'Flesh and Bone': 446,
 "Widows' Peak": 447,
 'For Love or Money': 42221,
 'The Firm': 19164,
 'Free Willy': 450,
 'Fresh': 38699,
 'The Fugitive': 12175,
 'Geronimo: An American Legend': 453,
 'The Getaway': 7577,
 'Getting Even with Dad': 455,
 'Go Fish': 456,
 'A Good Man in Africa': 457,
 'Guilty as Sin': 458,
 'Hard Target': 459,
 'Heaven & Earth': 460,
 'Hot Shots! Part Deux': 461,
 'Live Nude Girls': 462,
 'The Englishman Who Went Up a Hill But Came Down a Mountain': 463,
 'The House of the Spirits': 464,
 'House Party 3': 465,
 'The Hudsucker Proxy': 466,
 "I'll Do Anything": 467,
 'In the Army Now': 468,
 'In the Line of Fire': 469,
 'In the Name of the Father': 470,
 'The Inkwell': 471,
 "What's Love Got to Do with It": 472,
 'Jimmy Hollywood': 473,
 'Judgment Night': 474,
 'Jurassic Park': 475,
 'Kalifornia': 476,
 'Killing Zoe': 477,
 'King of the Hill': 478,
 'Lassie': 11227,
 'Last Action Hero': 480,
 'Life With Mikey': 481,
 'Lightning Jack': 482,
 'M. Butterfly': 483,
 'Made in America': 484,
 'Malice': 485,
 'The Man without a Face': 486,
 'Manhattan Murder Mystery': 487,
 'Menace II Society': 488,
 'Executive Decision': 489,
 'In the Realm of the Senses': 490,
 'What Happened Was...': 491,
 'Much Ado About Nothing': 43710,
 'Mr. Jones': 25475,
 'Mr. Wonderful': 494,
 'Mrs. Doubtfire': 495,
 'Naked': 40505,
 'The Next Karate Kid': 497,
 'The New Age': 498,
 'No Escape': 32371,
 'North': 15555,
 'Orlando': 501,
 'A Perfect World': 502,
 'Philadelphia': 503,
 'The Piano': 504,
 'Poetic Justice': 505,
 'The Program': 33141,
 'The Puppet Masters': 507,
 'Radioland Murders': 508,
 'The Ref': 509,
 'The Remains of the Day': 510,
 'Renaissance Man': 511,
 'Rising Sun': 512,
 'The Road to Wellville': 513,
 'RoboCop 3': 514,
 'Robin Hood: Men in Tights': 515,
 'Romeo Is Bleeding': 516,
 'Romper Stomper': 517,
 'Ruby in Paradise': 518,
 'Rudy': 519,
 'The Saint of Fort Washington': 520,
 'Savage Nights': 521,
 "Schindler's List": 522,
 'The Scout': 523,
 'Searching for Bobby Fischer': 524,
 'Second Best': 525,
 'The Secret Garden': 41352,
 'Serial Mom': 527,
 'The Shadow': 528,
 'Shadowlands': 529,
 'Short Cuts': 530,
 'A Simple Twist of Fate': 531,
 'Sirens': 532,
 'Six Degrees of Separation': 533,
 'Sleepless in Seattle': 534,
 'Sliver': 535,
 'Blade Runner': 536,
 'Son in Law': 537,
 'So I Married an Axe Murderer': 538,
 'Striking Distance': 539,
 'Harem': 540,
 'Super Mario Bros.': 541,
 'Surviving the Game': 542,
 'Terminal Velocity': 543,
 'Thirty Two Short Films About Glenn Gould': 544,
 'Threesome': 545,
 'The Nightmare Before Christmas': 546,
 'The Three Musketeers': 18589,
 'Tombstone': 548,
 'Trial by Jury': 549,
 'True Romance': 550,
 'The War Room': 551,
 'The Pagemaster': 552,
 'Paris, France': 553,
 'The Beans of Egypt, Maine': 554,
 'Killer': 18114,
 'Welcome to the Dollhouse': 556,
 'Germinal': 557,
 'Chasers': 558,
 'Cronos': 559,
 'Naked in New York': 560,
 'Kika': 561,
 'Bhaji on the Beach': 562,
 'Little Big League': 563,
 'The Slingshot': 564,
 'Wide Eyed and Legless': 565,
 'Foreign Student': 566,
 'Ciao, Professore!': 567,
 'Spanking the Monkey': 568,
 'The Little Rascals': 569,
 '√Ä la mode': 570,
 'Andre': 571,
 'The Escort': 32195,
 'Princess Caraboo': 573,
 'The Celluloid Closet': 574,
 'Caf√© au Lait': 575,
 'Dear Diary': 576,
 "I Don't Want to Talk About It": 577,
 'The Brady Bunch Movie': 578,
 'Home Alone': 579,
 'Ghost': 43947,
 'Aladdin': 25520,
 'Terminator 2: Judgment Day': 582,
 'Dances with Wolves': 583,
 'Tough and Deadly': 584,
 'Batman': 8603,
 'The Silence of the Lambs': 586,
 'Snow White and the Seven Dwarfs': 587,
 'Beauty and the Beast': 42222,
 'Pinocchio': 27686,
 'Pretty Woman': 590,
 'Window to Paris': 591,
 'The Wild Bunch': 592,
 'Love and a .45': 593,
 "The Wooden Man's Bride": 594,
 'A Great Day in Harlem': 595,
 'Bye Bye Love': 596,
 'One Fine Day': 597,
 'Candyman: Farewell to the Flesh': 598,
 'Century': 599,
 'Fargo': 600,
 'Homeward Bound II: Lost in San Francisco': 601,
 'Heavy Metal': 602,
 'Hellraiser: Bloodline': 603,
 'The Pallbearer': 604,
 'Jane Eyre': 44938,
 'Loaded': 29145,
 'Bread and Chocolate': 607,
 'The Aristocats': 608,
 'The Flower of My Secret': 609,
 'Two Much': 610,
 'Ed': 611,
 'Scream of Stone': 612,
 'My Favorite Season': 613,
 'A Modern Affair': 614,
 'Condition Red': 615,
 'Halfaouine: Boy of the Terraces': 616,
 'A Thin Line Between Love and Hate': 617,
 'The Last Supper': 618,
 'Primal Fear': 619,
 'Rude': 620,
 'Carried Away': 621,
 'All Dogs Go to Heaven 2': 622,
 'Land and Freedom': 623,
 'Denise Calls Up': 624,
 'Theodore Rex': 625,
 'A Family Thing': 626,
 'Frisk': 627,
 'Sgt. Bilko': 628,
 'Jack & Sarah': 629,
 'Girl 6': 630,
 'Diabolique': 6964,
 'Little Indian, Big City': 632,
 'Roula': 633,
 'Peanuts ‚Äì Die Bank zahlt alles': 634,
 'Happy Weekend': 635,
 'Nelly and Monsieur Arnaud': 636,
 'Courage Under Fire': 637,
 'Mission: Impossible': 638,
 'Cold Fever': 639,
 'Moll Flanders': 640,
 'The Superwife': 641,
 '301, 302': 642,
 'DragonHeart': 643,
 'Und keiner weint mir nach': 644,
 "My Mother's Courage": 645,
 'Eddie': 646,
 'Yankee Zulu': 647,
 "Billy's Holiday": 648,
 'Purple Noon': 649,
 'August': 23621,
 'James and the Giant Peach': 651,
 'Fear': 36801,
 'Kids in the Hall: Brain Candy': 653,
 'Faithful': 654,
 'Underground': 34478,
 'All Things Fair': 656,
 'Bloodsport II': 657,
 'Pather Panchali': 658,
 'The World of Apu': 659,
 'Mystery Science Theater 3000: The Movie': 660,
 'Tarantella': 661,
 'Space Jam': 662,
 'Barbarella': 663,
 'Hostile Intentions': 664,
 'They Bite': 665,
 'Some Folks Call It a Sling Blade': 666,
 'The Run of the Country': 667,
 'Alphaville': 668,
 'Coup de Torchon': 669,
 'Tigrero: A Film That Was Never Made': 670,
 'The Eye of Vichy': 671,
 'Windows': 672,
 "It's My Party": 673,
 'Country Life': 674,
 'Operation Dumbo Drop': 675,
 'The Promise': 44533,
 'Mrs. Winterbourne': 677,
 'Solo': 30618,
 'Under The Domim Tree': 679,
 'The Substitute': 31980,
 'True Crime': 2448,
 'Butterfly Kiss': 44491,
 'Feeling Minnesota': 683,
 'Delta of Venus': 684,
 'To Cross the Rubicon': 685,
 'Angus': 686,
 'Priest Daens': 687,
 'Faces': 688,
 'Boys': 28827,
 'The Quest': 690,
 'Cosi': 691,
 'Sunset Park': 692,
 'Mulholland Falls': 693,
 'The Truth About Cats & Dogs': 694,
 'Oliver & Company': 695,
 'Celtic Pride': 696,
 'Flipper': 8123,
 'Captives': 698,
 'Of Love and Shadows': 699,
 'Dead Man': 700,
 'The Horseman on the Roof': 701,
 'Switchblade Sisters': 702,
 'Mouth to Mouth': 11064,
 'The Visitors': 35044,
 'Multiplicity': 705,
 'The Haunted World of Edward D. Wood, Jr.': 706,
 'Two Friends': 37578,
 'The Craft': 708,
 'The Great White Hype': 709,
 'Last Dance': 710,
 'War Stories Our Mother Never Told Us': 711,
 'Cold Comfort Farm': 712,
 'Institute Benjamenta, or This Dream People Call Human Life': 713,
 "Heaven's Prisoners": 714,
 'Original Gangstas': 715,
 'The Rock': 716,
 'Getting Away with Murder': 717,
 'Cemetery Man': 718,
 'Twister': 7430,
 'Barb Wire': 720,
 'Le Gar√ßu': 721,
 'Honeymoon': 40245,
 'Ghost in the Shell': 42309,
 'Thinner': 724,
 'Spy Hard': 725,
 'Brothers in Trouble': 726,
 'A Close Shave': 727,
 'Force of Evil': 728,
 'The Stupids': 729,
 'The Arrival': 730,
 'The Man from Down Under': 731,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 732,
 'Careful': 733,
 'Vermont Is for Lovers': 734,
 'A Month by the Lake': 735,
 'Gold Diggers: The Secret of Bear Mountain': 736,
 'Kim': 737,
 'Carmen Miranda: Bananas Is My Business': 738,
 'Ashes of Time': 739,
 'The Jar': 740,
 'Maya Lin: A Strong Clear Vision': 741,
 'Stalingrad': 26606,
 'The Phantom': 42034,
 'Striptease': 744,
 'The Last of the High Kings': 745,
 'Heavy': 746,
 'Jack': 40386,
 'I Shot Andy Warhol': 748,
 'The Grass Harp': 749,
 "Someone Else's America": 750,
 'Life is Rosy': 751,
 'Quartier Mozart': 752,
 'Touki Bouki': 753,
 "God's Gift": 754,
 'Spirits of the Dead': 755,
 'Babyfever': 756,
 "Pharaoh's  Army": 757,
 'Trainspotting': 758,
 'Til There Was You': 759,
 'Independence Day': 760,
 'Stealing Beauty': 761,
 'The Fan': 5518,
 'The Hunchback of Notre Dame': 8303,
 'The Cable Guy': 764,
 'Kingpin': 765,
 'Eraser': 766,
 'The Gate of Heavenly Peace': 767,
 'The Nutty Professor': 2027,
 'I, the Worst of All': 769,
 'An Unforgettable Summer': 770,
 'A Hungarian Fairy Tale': 771,
 'My Life and Times With Antonin Artaud': 772,
 'Midnight Dancers': 773,
 'Somebody to Love': 774,
 'A Very Natural Thing': 775,
 'The Old Lady Who Walked in the Sea': 776,
 'Daylight': 23014,
 'The Frighteners': 778,
 'Lone Star': 779,
 'Harriet the Spy': 780,
 'Phenomenon': 781,

In [13]:
# tfidfÏôÄ cosÏú†ÏÇ¨ÎèÑÎ•º Ïù¥Ïö©Ìïú Ïª®ÌÖêÏ∏† Í∏∞Î∞ò ÌïÑÌÑ∞ÎßÅ Ìï®Ïàò 

def get_recommend(title, m_cosine_sim = m_cosine_sim):
    idx = id_movie_dic[title]

    # ÏûÖÎ†• Î∞õÏùÄ ÏòÅÌôî, ÏûêÏã†ÏùÑ Ï†úÏô∏Ìïú ÏòÅÌôîÎì§ Í∞ÑÏùò ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÏôÄ Ïù∏Îç±Ïä§ Ï∂îÏ∂ú
    sim_scores = [(i, c) for i, c in enumerate(m_cosine_sim[idx]) if i != idx]

    # Ïú†ÏÇ¨ÎèÑÍ∞Ä ÎÜíÍ≤å ÎÇòÏò® ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ†¨
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse=True)

    sim_scores[0:10] # Ï†ïÎ†¨Ìïú Î™©Î°ùÏóêÏÑú ÏÉÅÏúÑ 10Í∞úÏùò Ïù∏Îç±Ïä§ÏôÄ Ïú†ÏÇ¨ÎèÑÎ•º Ï∂îÏ∂ú 

    sim_scores = [(movie_id_dic[i], score) for i, score in sim_scores[0:10]]
    # Ïù∏Îç±Ïä§Î•º titleÎ°ú Î∞îÍøîÏ£ºÍ≥† Ïú†ÏÇ¨ÎèÑÏôÄ Ìï®Íªò Î¶¨Ïä§Ìä∏Î°ú Î¨∂Ïñ¥Ï§å

    return sim_scores #Î¶¨Ïä§Ìä∏ Ï∂úÎ†•

In [14]:
# ÏòÅÌôîÎ•º ÏûÖÎ†•Î∞õÏïÑ Ï∂îÏ≤ú Ìï®ÏàòÎ•º Í±∞Ï≥ê Ï∂îÏ≤ú Î¶¨Ïä§Ìä∏Î•º Ï∂úÎ†•
recom = get_recommend(input('ÏûÖÎ†•Ìïú ÏòÅÌôîÏôÄ ÎπÑÏä∑Ìïú ÏòÅÌôîÎ•º 10Í∞ú Ï∂îÏ≤ú'))
recom

ÏûÖÎ†•Ìïú ÏòÅÌôîÏôÄ ÎπÑÏä∑Ìïú ÏòÅÌôîÎ•º 10Í∞ú Ï∂îÏ≤ú Toy Story

[('P.S. I Love You', 0.5173376977761817),
 ("National Lampoon's Vacation", 0.4568016987075376),
 ('The Hill', 0.27213307411412035),
 ('Bullhead', 0.2685972116672364),
 ('A Muppet Family Christmas', 0.23196707934021946),
 ('A Foreign Affair', 0.19535908522619994),
 ('Dangerous Ground', 0.18170037646867362),
 ('Foolproof', 0.15393963160153162),
 ('Homegrown', 0.1504554719490517),
 ('Gung Ho!', 0.1410709552490119)]

In [15]:
# Î≥¥Í∏∞ ÏâΩÍ≤å Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í∏∞
recom_df = pd.DataFrame(recom, columns = ['title','sim_score'])
recom_df

                         title  sim_score
0              P.S. I Love You   0.517338
1  National Lampoon's Vacation   0.456802
2                     The Hill   0.272133
3                     Bullhead   0.268597
4    A Muppet Family Christmas   0.231967
5             A Foreign Affair   0.195359
6             Dangerous Ground   0.181700
7                    Foolproof   0.153940
8                    Homegrown   0.150455
9                     Gung Ho!   0.141071

In [16]:
# ÌîºÏñ¥Ïä® Ïú†ÏÇ¨ÎèÑÎ•º Ïù¥Ïö©Ìïú ÏÇ¨Ïö©Ïûê ÌïÑÌÑ∞ÎßÅ Îç∞Ïù¥ÌÑ∞ Ï†ïÏùò

movies.head() # Îç∞Ïù¥ÌÑ∞ Íµ¨ÏÑ± ÎØ∏Î¶¨Î≥¥Í∏∞

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [17]:
# movie_metadataÏóêÏÑú ÏÇ¨Ïö©Ìï† Îç∞Ïù¥ÌÑ∞ Ïª¨ÎüºÎßå Í∞ÄÏ†∏Ïò§Í∏∞
movies_sub = movies[['id', 'original_title', 'original_language', 'genres']]

# idÎ•º ratings Îç∞Ïù¥ÌÑ∞Ïùò movieIdÏôÄ Ìï©ÏπòÍ∏∞ ÏúÑÌï¥ ÎòëÍ∞ôÏùÄ Ïù¥Î¶ÑÏúºÎ°ú Î∞îÍøîÏ§å
movies_sub = movies_sub.rename(columns={'id':'movieId'})

# ÏõêÏñ¥Í∞Ä ÏòÅÏñ¥Ïù∏ ÏòÅÌôî Îç∞Ïù¥ÌÑ∞Îßå Í∞ÄÏ†∏Ïò§Í∏∞ > inputÏùÑ
movies_sub = movies_sub[movies_sub['original_language'] == 'en']

movies_sub.head()

,movieId,original_title,original_language,genres
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]"

In [19]:
# ÌèâÏ†ê Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
ratings = pd.read_csv('data/ratings_small.csv')

ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
# ÏõêÌïòÎäî Îç∞Ïù¥ÌÑ∞ Ïª¨ÎüºÎßå Í∞ÄÏ†∏ÏôÄ subtableÏùÑ ÎßåÎì§Í∏∞
ratings_sub = ratings[['userId', 'movieId', 'rating']]

ratings_sub.head(10)

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0
5       1     1263     2.0
6       1     1287     2.0
7       1     1293     2.0
8       1     1339     3.5
9       1     1343     2.0

In [21]:
# ratings Îç∞Ïù¥ÌÑ∞ ÌÜµÍ≥Ñ ÏàòÏπò ÌôïÏù∏
ratings_sub.describe().T

,count,mean,std,min,25%,50%,75%,max
userId,100004.0,347.011310,195.163838,1.0,182.0,367.0,520.0,671.0
movieId,100004.0,12548.664363,26369.198969,1.0,1028.0,2406.5,5418.0,163949.0
rating,100004.0,3.543608,1.058064,0.5,3.0,4.0,4.0,5.0

In [22]:
# idÏùò Îç∞Ïù¥ÌÑ∞ÌÉÄÏûÖ Ï†ÑÌôòÏùÑ ÏúÑÌï¥ subÎ°ú ÎßåÎì† Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ïπ¥Ìîº
movies_sub = movies_sub.copy()
ratings_sub = ratings_sub.copy()

In [23]:
# Ìï©Ïπ† idÎ•º numericÏúºÎ°ú Ïû¨Ï†ïÏùò
movies_sub.movieId = pd.to_numeric(movies_sub.movieId, errors='coerce')
ratings_sub.movieId = pd.to_numeric(ratings_sub.movieId, errors='coerce')

In [24]:
# movieidÎ•º Í∏∞Ï§ÄÏúºÎ°ú ovie_metadataÏôÄ ratings dataÎ•º Ìï©ÏπòÍ∏∞
merge_tbl = pd.merge(ratings_sub, movies_sub, on='movieId', how='inner')
# pd.concat Ìï®ÏàòÎ°ú ÏúÑÏùò ÎëêÍ∞ÄÏßÄ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Í≤∞Ìï©ÏãúÌÇ§Í∏∞
# merge_tbl = pd.concat([ratings_sub, movies_sub]) # movieId Í≥µÌÜµ

# ÌôïÏù∏
merge_tbl.head(10)

,userId,movieId,rating,original_title,original_language,genres
0,1,1371,2.5,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
1,4,1371,4.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
2,7,1371,3.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
3,19,1371,4.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
4,21,1371,3.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
5,22,1371,2.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
6,41,1371,3.5,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
7,78,1371,4.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
8,118,1371,3.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"
9,130,1371,3.0,Rocky III,en,"[{'id': 18, 'name': 'Drama'}]"

In [25]:
# Ïû•Î•¥Í∞ÄÏ§ëÏπòÎ•º Ï£ºÍ∏∞ÏúÑÌï¥ Ïû•Î•¥ Í∞íÏùÑ ÏàòÏ†ï, Ïû•Î•¥ Í∞íÏùò Î©îÌÉÄÎç∞Ïù¥ÌÑ∞Î•º ÎÇ†Î¶¨Í≥† Ïû•Î•¥ Ï¢ÖÎ•òÎßå ÎÇ®ÍπÄ
# jsonÌòïÏãù(str)ÏùÑ Í∞ÄÏ†∏ÏôÄ Ïû•Î•¥Ïùò Ïù¥Î¶ÑÎßå ÎΩëÏïÑÎÉÑ.
def separ_genres(genres_str):
    genres = json.loads(genres_str.replace('\'', '"'))
    
    genrelist = []
    for c in genres:
        genrelist.append(c['name'])

    return genrelist

# Ìï®Ïàò Ïã§Ìñâ
merge_tbl['genres'] = merge_tbl['genres'].apply(separ_genres)

# ÌôïÏù∏
merge_tbl.head(10)

   userId  movieId  rating original_title original_language   genres
0       1     1371     2.5      Rocky III                en  [Drama]
1       4     1371     4.0      Rocky III                en  [Drama]
2       7     1371     3.0      Rocky III                en  [Drama]
3      19     1371     4.0      Rocky III                en  [Drama]
4      21     1371     3.0      Rocky III                en  [Drama]
5      22     1371     2.0      Rocky III                en  [Drama]
6      41     1371     3.5      Rocky III                en  [Drama]
7      78     1371     4.0      Rocky III                en  [Drama]
8     118     1371     3.0      Rocky III                en  [Drama]
9     130     1371     3.0      Rocky III                en  [Drama]

In [26]:
# ÏÇ¨Ïö©ÏûêÎßàÎã§ ÏòÅÌôîÏùò ÌèâÍ∞ÄÎ•º Î≥¥Í∏∞ÏúÑÌï¥ pivot tableÏùÑ ÏÉùÏÑ±, Í∏∞Ï§ÄÏùÄ ÏÇ¨Ïö©Ïûêid
# Ìï¥Îãπ ÌÖåÏù¥Î∏îÏùÑ Îß§Ìä∏Î¶≠Ïä§Ï≤òÎüº ÏÇ¨Ïö©

matrix_movie = merge_tbl.pivot_table(index = 'userId',
                                     columns = 'original_title',
                                     values = 'rating')

In [27]:
# ÌîºÎ¥áÌÖåÏù¥Î∏î ÌôïÏù∏
matrix_movie.head(15)

original_title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,12 Angry Men,1408,...,Young and Innocent,Zaat,Zabriskie Point,Zapped Again!,Zardoz,Zodiac,eXistenZ,xXx,¬°Three Amigos!,–ú–æ–π —Å–≤–æ–¥–Ω—ã–π –±—Ä–∞—Ç –§—Ä–∞–Ω–∫–µ–Ω—à—Ç–µ–π–Ω
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,0.5,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN

In [57]:
# Ïû•Î•¥ Í∞ÄÏ§ëÏπò Í∞í ÏÑ§Ï†ï
genre_weight = 0.05

In [58]:
# ÌîºÏñ¥Ïä® ÏÉÅÍ¥ÄÍ≥ÑÏàò Ìï®Ïàò

def pearsonR(e1, e2):
    e1_c = e1 - e1.mean()
    e2_c = e2 - e2.mean()
    
    return np.sum(e1_c * e2_c) / np.sqrt(np.sum(e1_c ** 2) * np.sum(e2_c ** 2))

In [59]:
# ÌîºÏñ¥Ïä® ÏÉÅÍ¥ÄÍ≥ÑÏàòÏôÄ Ïû•Î•¥ Í∞ÄÏ§ëÏπòÎ•º ÎçîÌïú ÏÇ¨Ïö©ÏûêÍ∏∞Î∞ò ÌïÑÌÑ∞ÎßÅ Ìï®Ïàò

def recommend(input_m, matrix_movie, n, sim_genre=True):
    add_genre = merge_tbl[merge_tbl['original_title'] == input_m]['genres'].iloc[0]

    result_list = []
    
    
    for title in matrix_movie.columns:
        if title == input_m: continue

        # ÌîºÏñ¥Ïä® ÏÉÅÍ¥ÄÍ≥ÑÏàò Ï†ÅÏö©
        corr = pearsonR(matrix_movie[input_m], matrix_movie[title])
        
        # Ïû•Î•¥ Í∞ÄÏ§ëÏπò Ï†ÅÏö©
        if sim_genre and len(add_genre) > 0:
            temp_genres = merge_tbl[merge_tbl['original_title'] == title]['genres'].iloc[0]

            same_count = np.sum(np.isin(add_genre, temp_genres))
            corr += (genre_weight * same_count)
        
        if np.isnan(corr): continue
        
        else:
            result_list.append((title, '{:.2f}'.format(corr), temp_genres))
            
            
    result_list.sort(key = lambda r: r[1], reverse = True)

    
    return result_list[:n]

In [60]:
# input(ÏòÅÌôî) Í∞í Î∞õÍ∏∞
recommend_result = recommend(input('ÎπÑÏä∑Ìïú Ï∑®Ìñ•Ïùò ÏòÅÌôîÎ•º Ï∂îÏ≤ú'), matrix_movie, 10, sim_genre=True)

pd.DataFrame(recommend_result, columns = ['title', 'score', 'genres'])

ÎπÑÏä∑Ìïú Ï∑®Ìñ•Ïùò ÏòÅÌôîÎ•º Ï∂îÏ≤ú Zaat

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

,title,score,genres
0,Boogeyman,0.70,"[Thriller, Horror, Drama, Mystery]"
1,Merlin,0.60,"[Adventure, Drama, Fantasy]"
2,The Pledge,0.60,"[Crime, Drama, Mystery, Thriller]"
3,Bunny Lake Is Missing,0.57,"[Thriller, Mystery]"
4,Ghostbusters,0.55,"[Comedy, Fantasy]"
5,Warlords of the 21st Century,0.55,[Science Fiction]
6,Enigma,0.51,"[Adventure, Drama, Action, Thriller, Foreign]"
7,Just the Ticket,0.50,"[Comedy, Romance]"
8,Laura,0.50,"[Drama, Mystery]"
9,Le Professionnel,0.50,"[Action, Adventure, Thriller]"

In [77]:
# ÎëêÍ∞úÏùò ÌïÑÌÑ∞ÎßÅÏùÑ Ìï©Ï≥êÏÑú Í≥ÑÏÇ∞ÌïòÍ∏∞
def recommend(input_m, matrix_movie, n, sim_genre=True):
    add_genre = merge_tbl[merge_tbl['original_title'] == input_m]['genres'].iloc[0]
    result_list = []
    
    for title in matrix_movie.columns:
        if title == input_m: continue

        # ÌîºÏñ¥Ïä® ÏÉÅÍ¥ÄÍ≥ÑÏàò Ï†ÅÏö©
        corr = pearsonR(matrix_movie[input_m], matrix_movie[title])
        
        # Ïû•Î•¥ Í∞ÄÏ§ëÏπò Ï†ÅÏö©
        if sim_genre and len(add_genre) > 0:
            temp_genres = merge_tbl[merge_tbl['original_title'] == title]['genres'].iloc[0]

            same_count = np.sum(np.isin(add_genre, temp_genres))
            corr += (genre_weight * same_count)
        
        if np.isnan(corr): continue
        else:
            result_list.append((title, '{:.2f}'.format(corr)))
            
            
    result_list.sort(key = lambda r: r[1], reverse = True)
    result2 = result_list[:n]
    
    def get_recommend(title, m_cosine_sim = m_cosine_sim):
        idx = id_movie_dic[title]

        # ÏûÖÎ†• Î∞õÏùÄ ÏòÅÌôî, ÏûêÏã†ÏùÑ Ï†úÏô∏Ìïú ÏòÅÌôîÎì§ Í∞ÑÏùò ÏΩîÏÇ¨Ïù∏ Ïú†ÏÇ¨ÎèÑÏôÄ Ïù∏Îç±Ïä§ Ï∂îÏ∂ú
        sim_scores = [(i, c) for i, c in enumerate(m_cosine_sim[idx]) if i != idx]

        # Ïú†ÏÇ¨ÎèÑÍ∞Ä ÎÜíÍ≤å ÎÇòÏò® ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ†¨
        sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse=True)

        sim_scores = [(movie_id_dic[i], score) for i, score in sim_scores[0:10]]
        # Ïù∏Îç±Ïä§Î•º titleÎ°ú Î∞îÍøîÏ£ºÍ≥† Ïú†ÏÇ¨ÎèÑÏôÄ Ìï®Íªò Î¶¨Ïä§Ìä∏Î°ú Î¨∂Ïñ¥Ï§å
        
        result1 = sim_scores[:n]
        return result1
    
    result3 = get_recommend(input_m) + result2
    return result3

In [78]:
recommend_result = recommend(input('ÎπÑÏä∑Ìïú Ï∑®Ìñ•Ïùò ÏòÅÌôîÎ•º Ï∂îÏ≤ú'), matrix_movie, 10, sim_genre=True)

pd.DataFrame(recommend_result, columns = ['title', 'scores'])

ÎπÑÏä∑Ìïú Ï∑®Ìñ•Ïùò ÏòÅÌôîÎ•º Ï∂îÏ≤ú Zaat

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

                                title    scores
0                    Return of Django  0.305407
1   Race for Your Life, Charlie Brown  0.244061
2                              Normal   0.18479
3                        Port of Call  0.170582
4                                Hell  0.163912
5             Return to Lonesome Dove   0.16168
6                    The Razor's Edge  0.160724
7        The Merchant of Four Seasons  0.157787
8                  Dead Man on Campus  0.153768
9             The Internecine Project  0.151106
10                          Boogeyman      0.70
11                             Merlin      0.60
12                         The Pledge      0.60
13              Bunny Lake Is Missing      0.57
14                       Ghostbusters      0.55
15       Warlords of the 21st Century      0.55
16                             Enigma      0.51
17                    Just the Ticket      0.50
18                              Laura      0.50
19                   Le Professionnel      0.50